<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bysoft.mapper.TDBorrowMainMapper">

    <resultMap id="BaseResultMap" type="com.bysoft.entity.TDBorrowMain">
        <id column="borrow_main_id" property="borrowMainId" jdbcType="VARCHAR"></id>
        <result column="borrow_user_id" property="borrowUserId" jdbcType="VARCHAR"></result>
        <result column="borrow_user_name" property="borrowUserName" jdbcType="VARCHAR"></result>
        <result column="borrow_user_dep_id" property="borrowUserDepId" jdbcType="VARCHAR"></result>
        <result column="borrow_user_dep_name" property="borrowUserDepName" jdbcType="VARCHAR"></result>
        <result column="borrow_archives_type" property="borrowArchivesType" jdbcType="VARCHAR"></result>
        <result column="borrow_excuse" property="borrowExcuse" jdbcType="VARCHAR"></result>
        <result column="borrow_time" property="borrowTime" jdbcType="VARCHAR"></result>
        <result column="borrow_approve_user" property="borrowApproveUser" jdbcType="VARCHAR"></result>
        <result column="borrow_approve_time" property="borrowApproveTime" jdbcType="VARCHAR"></result>
        <result column="borrow_approve_opinion" property="borrowApproveOpinion" jdbcType="VARCHAR"></result>
        <result column="borrow_state" property="borrowState" jdbcType="BIGINT"></result>
        <result column="borrow_city" property="borrowCity" jdbcType="VARCHAR"></result>
        <result column="borrow_form_url" property="borrowFormUrl" jdbcType="VARCHAR"></result>
    </resultMap>
    <select id="getOne" parameterType="string" resultMap="BaseResultMap">
        select * from t_d_borrow_main where borrow_main_id = #{borrowMainId}
    </select>
</mapper>